<h1>{{title}}</h1>
<h3>{{h3}}</h3>
<input #nameInput type="text">
<button (click)="sayHello(nameInput.value)">Say
Hello</button>
<p>This is the other way {{sayHello(nameInput.value)}}</p>

<p>Change name to upper case {{nameInput.value | uppercase}}</p>
<p>Number as a percentage {{myNumber | percent}}</p>
<p>Number as a BHD currancy {{myNumber | currency:"BHD"}}</p>
<p>Number as a US currency {{myNumber | currency:"USD"}}</p>