<p>item-list works!</p>
<tbody>
    <tr *ngFor="let item of filteredItems;">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
    </tr>
</tbody>

<div *ngFor="let item of filteredItems">
      <h2>{{ item.name }}</h2>
      <p>Price: {{ item.price }}</p>
</div>